<!DOCTYPE html>
<html>
<head>
    <title>Container Info</title>
</head>
<body>
    <div class="card">
        <h1>Container Info</h1>
        <div class="info">
            <span class="label">Hostname:</span>
            <span class="value">HOSTNAME_PLACEHOLDER</span>
        </div>
        <div class="info">
            <span class="label">IP Address:</span>
            <span class="value">IP_PLACEHOLDER</span>
        </div>
    </div>
</body>
</html>
